extends ../layout

block title
	| Blog

block content
	
	include ../sections/main-menu

	include ../sections/hero_blog

	main.blog#blog
		.section__triangles
			.triangle-container_left
				svg(
					viewbox="0 0 1000 100"
					preserveAspectRatio="none"
					class="triangle triangle_left triangle_fill_white-blog")
					polygon(points="0,0 0,100 1000,100")
			.triangle-container_right
				svg(
					viewbox="0 0 1000 100"
					preserveAspectRatio="none"
					class="triangle triangle_right triangle_fill_white-blog")
					polygon(points="0,100 1000,100 1000,0")
		aside.blog__sidebar
			.sidebar__container
				ul.sidebar__list
					li.sidebar__item
						a(href="#").sidebar__link.sidebar__link_active Самое важное в SASS
					li.sidebar__item 
						a(href="#").sidebar__link Приёмы в вёрстке, без которых не обходится ни один сайт
					li.sidebar__item 
						a(href="#").sidebar__link Самый необходимый набор Gulp плагинов
					li.sidebar__item 
						a(href="#").sidebar__link Почему я выбрал Pug

		section.blog__articles
			article.article.article_active
				h3.article__title Самое важное в SASS
				.article__date 14 июня 2018
				.article__text 
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita tempora accusantium delectus maxime eligendi magnam mollitia ipsum facilis, explicabo, deserunt tenetur, est architecto laboriosam nostrum impedit dolorem sed assumenda quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita tempora accusantium delectus maxime eligendi magnam mollitia ipsum facilis, explicabo, deserunt tenetur, est architecto laboriosam nostrum impedit dolorem sed assumenda quo.
			article.article
				h3.article__title Приёмы в вёрстке, без которых не обходится ни один сайт
				.article__date 26 мая 2018
				.article__text 
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita tempora accusantium delectus maxime eligendi magnam mollitia ipsum facilis, explicabo, deserunt tenetur, est architecto laboriosam nostrum impedit dolorem sed assumenda quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita tempora accusantium delectus maxime eligendi magnam mollitia ipsum facilis, explicabo, deserunt tenetur, est architecto laboriosam nostrum impedit dolorem sed assumenda quo.
			article.article
				h3.article__title Самый необходимый набор Gulp плагинов
				.article__date 19 мая 2018
				.article__text 
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita tempora accusantium delectus maxime eligendi magnam mollitia ipsum facilis, explicabo, deserunt tenetur, est architecto laboriosam nostrum impedit dolorem sed assumenda quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita tempora accusantium delectus maxime eligendi magnam mollitia ipsum facilis, explicabo, deserunt tenetur, est architecto laboriosam nostrum impedit dolorem sed assumenda quo.
			article.article
				h3.article__title Почему я выбрал Pug
				.article__date 13 мая 2018
				.article__text 
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita tempora accusantium delectus maxime eligendi magnam mollitia ipsum facilis, explicabo, deserunt tenetur, est architecto laboriosam nostrum impedit dolorem sed assumenda quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita tempora accusantium delectus maxime eligendi magnam mollitia ipsum facilis, explicabo, deserunt tenetur, est architecto laboriosam nostrum impedit dolorem sed assumenda quo.
		aside.blog__sidebar_tablet.blog__sidebar_tablet_closed
			a.sidebar__disk_tablet
			.sidebar__container_tablet
				ul.sidebar__list
					li.sidebar__item
						a(href="#").sidebar__link.sidebar__link_active Самое важное в SASS
					li.sidebar__item 
						a(href="#").sidebar__link Приёмы в вёрстке, без которых не обходится ни один сайт
					li.sidebar__item 
						a(href="#").sidebar__link Самый необходимый набор Gulp плагинов
					li.sidebar__item 
						a(href="#").sidebar__link Почему я выбрал Pug

	.empty

block footer
	include ../sections/footer